<a href="https://colab.research.google.com/github/PreamJ/Flask/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1 Leap day

ในทุกๆ 4 ปี leap day หรือวันที่ 29 กุมภาพันธ์ จะถูกเพิ่มเข้ามาในปฏิธิน เนื่องจากโลกโคจรรอบดวงอาทิตย์เป็นเวลาประมาณ 365.25 วัน เราเรียกปีที่มี leap day ว่า leap year <br>


ใน Gregorian calendar ระบุไว้ว่า leap year จะต้องประกอบไปด้วย 3 เงื่อนไข ได้แก่
*   เป็นปีที่สามารถหารด้วย 4 ลงตัว
*   แต่ปีที่หาร 100 ลงตัว จะไม่นับเป็น leap year
*    ปีที่หารด้วย 400 ลงตัว จะนับเป็น leap year

นั่นหมายความว่า ปีที่เป็น leap year จะสามารถหารด้วย 4 ลงตัว แต่ไม่สามารถหารด้วย 100 ได้ ยกเว้นกรณีที่หารด้วย 400 ได้ด้วย<br>

**งานของคุณคือ :**<br>
ถ้าปีที่กำหนดเป็น leap year ให้ return boolean True แต่ถ้าไม่ใช่ ให้ return False <br>
**Note:** ให้เขียนฟังก์ชั่น leap_year เพื่อแก้ปัญหานี้

**Input Format:**<br>
Read year (integer)<br>

**Output Format:**<br>
Boolean value

# Q2 List + Iteration
จงเขียนโปรแกรมรับเลขจำนวนเต็ม แล้วแสดงผลดังต่อไปนี้<br>
Input:


```
5
```

Output:

```
1     *
2    ***
3   *****
4  *******
5 *********
```

# Q3 Strings
**กำหนดให้**
*   string s มีความยาว n <br>
*   integer k สามารถหาร n ลงตัว <br>
**งานของคุณคือ:**<br>
แบ่ง s เป็นกลุ่ม (substring) กลุ่มละ k ตัว จำนวน n/k กลุ่ม จากนั้นให้ปริ้นตัวอักษรที่ไม่ซ้ำกันในแต่ละกลุ่ม จำนวน n/k บรรทัด<br>


**Input Format:**<br>
บรรทัดที่ 1: string s
บรรทัดที่ 2: จำนวนเต็ม k แสดงถึงความยาวของ substring<br>

**Output Format:**
String จำนวน n/k บรรทัด<br>

**ตัวอย่าง:**<br>
**Input**
```
AABCAAADAQWE
3
```
**Output**

```
AB
CA
AD
QWE
```

# Q4 String Apply
a และ b ได้เล่นเกมเกมหนึ่ง มีกติกาดังนี้ <br>
1. ผู้เล่นทั้งสองคนจะได้รับ string s จากนั้นผู้เล่นจะต้องสร้าง substring โดยใช้ s
2. ผู้เล่น a จะสร้างคำที่เริ่มต้นด้วยพยัญชนะในภาษาอังกฤษ
3. ผู้เล่น b จะสร้างคำที่เริ่มต้นด้วยสระในภาษาอังกฤษ
4. ผู้เล่นจะได้รับคำแนน 1 คะแนนสำหรับการสร้าง substring ที่ตรงกับเงื่อนไขตนเอง

ตัวอย่างเช่น
string s = BABANA<br>
a สร้าง substring ที่ขึ้นต้นด้วยสระ word = ANA<br>
จะพบว่า ANA ปรากฎ 2 ครั้งใน BABANA จึงได้รับ 2 คะแนน<br>

งานของคุณคือ:<br>
เขียน function ที่บอกว่าใครจะเป็นผู้ชนะในการเล่นเกมครั้งนี้ โดยผู้เล่นทั้งสองได้รับคะแนนสูงสุดที่สามารถเป็นไปได้ และได้คะแนนเท่าใด<br>

Input Format:<br>
บรรทัดที่ 1: string s เป็นคำที่กำหนดสำหรับการเล่นเกม<br>
Output Format:<br>
ผู้ชนะ และคะแนน คั่นด้วย space หรือถ้าได้คะแนนเท่ากันให้ output "Draw"
ตัวอย่าง<br>
Input

```
BANANA
```
Output

```
a 12
```

# Q5 Nested List
สมมติว่าคุณเป็นคุณครู ณ โรงเรียนแห่งหนึ่ง คุณมีชื่อและเกรดของนักเรียนในห้อง จำนวน N คน โดยข้อมูลเก็บอยู่ในรูปแบบ nested list<br>

งานของคุณคือ:<br>
หานักเรียนที่ได้เกรดอันดับก่อนสุดท้าย<br>
Note: มีโอกาสที่จะมีนักเรียนหลายคนได้เกรดอันดับก่อนสุดท้าย ให้ print ขื่อของนักเรียนเหล่านั้นโดยเว้น 1 บรรทัดระหว่างคน<br>

Input Format:<br>
บรรทัดที่ 1: จำนวนเต็ม N แสดงจำนวนของนักเรียน<br>
บรรทัดที่ 2N: ชื่อของนักเรียน<br>
บรรทัดที่ 2N+1: เกรดของนักเรียน<br>

Output Format:<br>
print ชื่อของนักเรียน (อาจเป็นคนเดียวหรือหลายคน) ถ้ามีนักเรียนจำนวนหลายคน ให้เรียงลำดับนักเรียนตามลำดับตัวอักษร และเว้นบรรทัดระหว่างแต่ละคน<br>

ตัวอย่าง<br>
Input<br>

```
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
```
output<br>

```
Berry
Harry
```
คำอธิบาย: <br>
จากตัวอย่าง ในห้องเรียนมีนักเรียน 5 คน โดยชื่อ และเกรดของนักเรียนสามารถเขียนได้เป็น

```
[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
```

เกรดที่ต่ำที่สุดคือ Tina ได้เกรด 37.2 และอันดับรองสุดท้ายได้เกรด 37.21 นักเรียนที่ได้เกรดนี้ได้แก่ Berry และ Harry

# Q6 Sort algorithm
เขียน function สำหรับการ sort ข้อมูลใน list โดยไม่ใช้ package sort สำเร็จรูป

In [ ]:
unsorted_list = [3,23,3,9,29,6,7,19,4,1,52]

[What is selection sort?](https://www.youtube.com/watch?v=xWBP4lzkoyM)

In [ ]:
unsorted_list = [3,23,3,9,29,6,7,19,4,1,52]

[What is bubble sort?](https://www.youtube.com/watch?v=9I2oOAr2okY)

In [ ]:
unsorted_list = [3,23,3,9,29,6,7,19,4,1,52]

# Q7 Apply 1 Guide's room
โรงแรมแห่งหนึ่ง มีห้องจำนวนอินฟินิตี้ห้อง วันหนึ่งมีนักท่องเที่ยวมาเข้าพัก โดยมีรายละเอียดดังนี้ <br>
กลุ่มนักท่องเที่ยวประกอบด้วย<br>
- ไกด์ จำนวน 1 คน
- นักท่องเที่ยวจำนวน k คน<br>

ไกด์จะได้รับห้องพักเดี่ยว และนักท่องเที่ยวจะนอนห้องละ n คน <br>
นักท่องเที่ยวและไกด์จะได้รับหมายเลขห้องของตัวเอง โดยไม่เรียงลำดับ เช่น นักท่องเที่ยวและไกด์จำนวน 31 คน ได้ลำดับห้องตามนี้


```
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
```
จงหาว่า ไกด์พักอยู่ห้องหมายเลขเท่าใด <br>
Input Format:<br>
บรรทัดที่ 1: จำนวนเต็ม n แสดงถึงจำนวนของนักท่องเที่ยวในหนึ่งกลุ่ม<br>
บรรทัดที่ 2: เลขห้องของผู้เข้าพัก (นักท่องเที่ยวและไกด์) โดยไม่เรียงลำดับ<br>

Output Format:<br>
เลขห้องที่ไกด์พัก

ตัวอย่าง
Input:


```
5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
```


Output:


```
8
```
คำอธิบาย:<br>
จากตัวอย่างข้างต้น มีจำนวนผู้เข้าพัก 31 คน โดยแต่ละห้องมีนักท่องเที่ยวพัก k = 5 คน จำนวน 6 กลุ่ม แต่ละคนถูก assign เลขห้องให้ตาม list ข้างต้น จะพบว่าแต่ละห้องจะมีผู้เข้าพัก 5 คน ยกเว้นห้องพักหมายเลข 8 ที่มีเพียงคนเดียวได้รับหมายเลขนี้ นั่นหมายความว่า ไกด์พักอยู่ห้องหมายเลข 8 นี้

# Q8 Apply 2 Knapsack Problem
สมมติว่ามีกระเป๋าใบหนึ่ง และต้องการนำสิ่งของใส่กระเป๋าโดยให้ผลรวมราคามีมูลค่าสูงที่สุด โดยมีน้ำหนักไม่เกินที่กระเป๋าจะรับน้ำหนักได้ <br>

กำหนดให้ สิ่งของแต่ละชิ้นมีน้ำหนักและราคาอยู่<br>

**ตัวอย่าง**<br>
กระเป๋าสามารถรับน้ำหนักได้ 10 หน่วย<br>

```
	weight	value
1	  7	    42
2	  3	    12
3	  4	    40
4	  5	    25
```
ของชิ้นที่ 3 และ 4 รวมกันจะได้น้ำหนัก 9 หน่วย ราคา 65 ซึ่งมากที่สุดที่สามารถเป็นไปได้ สำหรับกระเป๋าน้ำหนัก 10 หน่วย

**Input Format:**<br>
บรรทัดที่ 1: จำนวนเต็ม W แสดงน้ำหนักที่กระเป๋ารับได้
บรรทัดที่ 2: จำนวนเต็ม n แสดงน้ำหนักที่กระเป๋ารับได้
บรรทัดที่ 2N+1: จำนวนเต็ม w แสดงน้ำหนักของสิ่งของ
บรรทัดที่ 2N+2: จำนวนเต็ม v แสดงมูลค่าของสิ่งของชิ้นที่ 2N+1

**Output Format:**<br>
มูลค่าสูงสุดที่สามารถเป็นไปได้

**ตัวอย่าง**<br>
Input:
```
10
4
7
42
3
12
4
40
5
25
```

Output:


```
65
```
**คำอธิบาย**<br>
น้ำหนักที่กระเป๋ารับได้คือ 10 หน่วย มีสิ่งของให้เลือกจำนวน 4 ชิ้น<br>
สามารถจัดสิ่งของเพื่อให้ได้มูลค่าสูงสุดคือ นำสิ่งของชิ้นที่ 3 และ 4 มาใส่กระเป๋า จะได้น้ำหนัก 9 (4+5) หน่วย มูลค่า 65 (40+25)

Exhaustive Search (Brute Force)

In [ ]:
weiht = int(input())
n = int(intput())
w = []
value = []
for i in range(n):
  w.append(int{input()})
  value.append(int(input()))

max_value = 0

Greedy